* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-family: 'Raleway', sans-serif;
    color: darkblue;
    font-weight: bold;
}

body{
    background: linear-gradient(to right, rgb(255, 255, 255), lightblue);
}

h4{
  font-family: 'Sora', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
}

.h4-darkblue{
  font-family: 'Sora', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: darkblue;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: darkblue;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
}

.card{
  background: linear-gradient(to right, rgb(45, 155, 219), rgb(166, 230, 252));
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  max-height: 600px;
  margin-left: 32px;
  border: 0;
  box-shadow: 20px 20px 50px -30px rgb(176, 235, 255);
}


a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}



.p-carrossel{
    background-color: lightblue;
    color: black;
    font-family: Fredoka One, cursive;
}


.container-fluid {
    padding: 0;
  }
  
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
  }
  
  #mainSlider .carousel-caption {
    top: 30%;
  }
  
  #mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  
  #mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 100px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }

  #mainSlider .carousel-caption p:hover{
    text-decoration: underline;
    font-weight: 900;
    background: linear-gradient(to right, rgba(18, 168, 238, 0.6), lightblue);
    cursor: pointer;
  }
  
  .main-btn {
    background-color: #65DAF9;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
    font-weight: bold;
  }
  
  .main-btn:hover {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    background-color: transparent;
    border-color: #3EC1D5;
  }
  
  .carousel-indicators .active {
    background-color: #65DAF9;
  }